#page-container{
    display: flex;
    background-color: #121212;
    height: 100%;
    position: relative;
}

#main-container{
    width: 85%;
    background-color: #121212;
    padding-top: 1.5%;
}

@media all and (max-width:779px){
    #page-container{
        display: flex;
        flex-direction: column;
        background-color: #121212;
        height: 100%;
        position: relative;
    }
    
    #main-container{
        width: 100%;
        background-color: #121212;
        padding-top: 1.5%;
    }
}